body
{
  max-width: 974px;
  margin: 0 auto;
}

#doc3
{
  font-size: 150%;

  margin-top: 2em;
  margin-right: 16px;
  margin-left: 16px;
}

/*****************************************************************************/

#nav
{
  margin-top: 8px;

  float: left;
}
#nav ol
{
  padding-left: 0;

  list-style-type: none;
}
#nav li
{
  font-weight: bold;

  display: inline;

  padding-right: 1em;
}

/*****************************************************************************/

#search
{
  text-align: right;
}
#search input,
#search button
{
  font-size: 16px;
}

/*****************************************************************************/

#matches
{
  text-align: right;
}
#matches ol
{
  margin-right: 0;

  list-style-type: none;
}
#matches li
{
  display: inline;

  margin-left: 1em;
}

/*****************************************************************************/

#classes p
{
  text-align: justify;
  word-spacing: .6em;
}
#classes a
{
  line-height: .8;

  vertical-align: middle;
  text-decoration: none;
}

/*****************************************************************************/

#entry
{
  position: relative;
  margin-bottom: 16px;
  padding: 16px 24px;
  border-radius: 6px;

  background: #f8f8f8;
}
#entry .label {
  display: none;
}
#entry h1 {
  font-weight: 500;
}
#entry h1 .grammarclass {
  font-size: 40px;
  font-weight: 300;
}
#entry h1 .paren {
  color: #bbb;
}
#entry h1 .paren.left {
  padding-left: 8px;
  margin-right: -8px;
}
#entry h1 .paren.right {
  margin-left: -8px;
}
#entry .affixes
{
  font-size: 40px;
  font-weight: 300;
}
#entry .affixes .hyphen
{
  padding: 0 8px;

  color: #bbb;
}
#entry .type
{
  position: absolute;
  top: 27px;
  right: 24px;

  font-size: 40px;
  font-weight: 300;
}
#entry .definition
{
  margin-bottom: 16px;

  font-size: 120%;

  white-space: pre-wrap;
}
#entry .notes
{
  margin-bottom: 16px;

  font-style: italic;
}
#entry .notes em
{
  font-style: normal;
}
#entry .missing
{
  color: #900;
}
#entry .links
{
  margin-right: 0;
  margin-bottom: 0;

  text-align: right;
}
#entry .links ul
{
  list-style-type: none;
}
#entry .links li
{
  display: inline;

  margin-left: 1em;
}

/*****************************************************************************/

hr
{
  height: 1px;
}

h2
{
  font-size: 140%;
}

dd
{
  white-space: pre-wrap;
  word-wrap: break-word; /* to avoid horizontal scroll */
}

/*****************************************************************************/

a[href^='http:'],
a[href^='https:']
{
  margin: -2px 0;
  padding: 2px 16px 2px 0;

  background-image: url(blueprint/plugins/link-icons/icons/external.png);
  background-repeat: no-repeat;
  background-position: right center;
}

#tiptip_content
{
  font-size: 1.3em;

  white-space: pre-wrap;
}

.ac_results
{
  text-align: left;
}

@media screen and (max-width: 640px) {
  #search {
    text-align: left;
  }
  
  #matches {
    text-align: left;
  }
  #matches ol {
    padding-left: 0;
  }
  #matches li {
    margin-left: 0;
    margin-right: 1em;
  }

  #entry .label {
    display: inline;
  }
  #entry .grammarclrass, #entry .affixes, #entry .type {
    position: static;
    display: block;
    margin-top: 0;
  
    font-size: 20px;
    font-weight: 400;
    font-style: italic;

    float: none;
  }
  #entry .affixes {
    margin-top: 12px;
  }
  #entry .affixes .hyphen {
    padding: 0 2px;
  }
  #entry .type {
    margin-top: 6px;
  }
}