[Unit]
Description=Site/Webserver for vlasisku.lojban.org
Requires=vlasisku.service

[Service]
Restart=always
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vlasisku_bots
WorkingDirectory=/home/sampre_vs/vlasisku
ExecStart=/bin/bash -x /home/sampre_vs/vlasisku/run_bots_container.sh 2>&1
ExecStop=/bin/bash -x /home/sampre_vs/vlasisku/stop_bots_container.sh 2>&1
TimeoutStartSec=10min

[Install]
WantedBy=default.target
