[Unit]
Description=Site/Webserver for vlasisku.lojban.org

[Service]
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vlasisku
WorkingDirectory=/home/sampre_vs/vlasisku
ExecStart=/bin/bash -x /home/sampre_vs/vlasisku/run_container.sh 2>&1
ExecStop=/bin/bash -x /home/sampre_vs/vlasisku/kill_container.sh 2>&1
TimeoutStartSec=10min

[Install]
WantedBy=default.target
