{% extends "layout.html" %}
{% block content %}
<div class="yui-gf">
    <div id="types" class="yui-u first">
        <h2>Types</h2>
        <dl>
            {% for type, definition, name in types %}
                {% if ' ' in type %}
            <dt>
                <a href='{{ root }}/"{{ type }}"'>{{ name }}</a>
            </dt>
                {% else %}
            <dt>
                <a href="{{ root }}/{{ type }}">{{ name }}</a>
            </dt>
                {% endif %}
            <dd>{{ definition }}</dd>
            {% endfor %}
        </dl>
    </div>

    <div id="classes" class="yui-u">
        <h2>Grammatical classes</h2>
        <p>
            {% for grammarclass in classes %}
                {% set scale = scales.get(grammarclass, 0.7) %}
            <a href="{{ root }}/{{ grammarclass }}"
                style="font-size: {{ scale }}em"
                class="{{ 'loud' if scale >= 1 else 'quiet' }}">{{ grammarclass }}</a>
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}
